html, body {
  height: 100%;
  margin: 0 auto;
  transition: all 0.3s ease 0s;
}

#inner {
  display: none;
}

#inner, #disc {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#disc {
  z-index: 10;
  text-align: center;
  top: 50%;
  margin: auto;
  font-size: 100px;
  color: white;
  text-shadow: 0px 0px 8px black;
  transition: all 0.3s ease 0s;
}

.block { 
  float : left;
  margin: 10px;
  width: 98px;
  height: 98px;
  background-color: #aff;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 10px 5px black;
  transition: all 0.3s ease 0s;
}